@import url("~/platform.css");
@import "nativescript-theme-core/css/core.light.css";
Page {
    font-size: 16;
}

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-size: inherit;
}