.add-event-page {
    padding: 5;
}

.mdi {
    font-size: 24px;
}

.hr-light {
    margin: 10 0;
}

.mdi.clear {
    color: #F00;
}

.mdi.plus {
    border: 1;
    border-radius: 50%;
    background: #AFC80B;
    color: #333;
    height: 32;
    padding: 3 3 0 3;
}

.participant-list {
    margin: 10 5;
}

.participant-pill {
    padding: 5 10;
    margin: 6;
    background: #ECECEC;
    border-radius: 10;
    border: 1 solid #EDEDED;
}