<ActionBar title="Add Event">
    <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['/landing']" pageTransition="fade"></NavigationButton>
</ActionBar>
<ScrollView width="100%" height="100%">
    <StackLayout class="form add-event-page">
        <StackLayout>
            <DatePicker></DatePicker>
            <TextField hint="Event Name" class="input event-name"></TextField>
            <TextField hint="Amount" keyboardType="number" class="input event-amount"></TextField>
            <TextField hint="Description (optional)" class="input event-desc"></TextField>
            <CheckBox:CheckBox text="Split equally?" checked="true" />
            <StackLayout class="hr-light"></StackLayout>
            <Label margin-left="5" class="h3" text="Who has attended the event?"></Label>
            <StackLayout orientation="horizontal" class="participant-list">
                <Label class="participant-pill" text="You"></Label>
                <WrapLayout class="participant-pill" *ngFor="let contact of selectedContacts">
                    <Label [text]="contact.display_name"></Label>
                    <Label class="mdi clear" [text]="'mdi-clear' | fonticon" (tap)="removeContact()"></Label>
                </WrapLayout>
                <Label class="mdi plus" [text]="'mdi-add' | fonticon" (tap)="loadContacts()"></Label>
            </StackLayout>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <FlexboxLayout flexDirection="column">
            <Button text="Submit" class="btn btn-primary"></Button>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>


<!--<StackLayout class="selected-contacts">
            <ListView [items]="selectedContacts">
                <ng-template let-item="item" let-index="index">
                    <StackLayout (tap)="removeContact(index)">
                        <GridLayout rows="auto" class="list-item">
                            <StackLayout>
                                <Label [text]="item.display_name"></Label>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>-->