.contacts-picker {
    margin: 5 0 5 0;
}

.contact-list{
    /* height: 400; */
}
.contact-search {
    height: 80;
}

.contact-list .contact {
    border-color: #EDEDED;
    border-width: 1 1 1 1;
}