<StackLayout orientation="horizontal">
    <Label text="Select Participants" class="pull-left h2"></Label>
    <Label class="mdi ok pull-right h2" [text]="'mdi-save' | fonticon" (tap)="submit()"></Label>
    <!-- <StackLayout class="hr-light"></StackLayout> -->
</StackLayout>

<ScrollView width="100%" height="100%">
<StackLayout class="form modal-view-style contacts-picker">
    <TextField class="contact-search" hint="Search by name" [(ngModel)]="contactSearch" (textChange)="onContactSearch($event)"></TextField>
    <StackLayout class="contact-list">
        <StackLayout *ngFor="let item of contacts; let index = index">
            <StackLayout class="contact" (tap)="toggleContactSelection(item.uId)" [ngClass]="{ 'selected' : item.selected}" *ngIf="!item.filteredOut">
                <GridLayout rows="auto" class="list-item">
                    <FlexboxLayout flexDirection="row" justifyContent="space-between">
                        <StackLayout>
                            <Label [text]="item.display_name"></Label>
                            <Label [text]="item.phone.number"></Label>
                        </StackLayout>
                        <StackLayout>
                            <CheckBox:CheckBox [checked]="item.selected" />
                        </StackLayout>
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
</ScrollView>