<ActionBar title="Split bill">
</ActionBar>
<FlexboxLayout flexDirection="column" justifyContent="center">
    <FlexboxLayout flexDirection="row" justifyContent="space-around">
        <Button class="btn btn-primary" text="I Get"></Button>
        <Button class="btn btn-primary" text="I Pay"></Button>
    </FlexboxLayout>
    <Button class="btn btn-primary" [nsRouterLink]="['/addEvent']" pageTransition="slide" text="Add Event"></Button>
</FlexboxLayout>